<%= form_for(@url, :style => 'float:left') do |f| %>
  <% if @url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% @url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span class="field">
    <%= f.text_field :long_url, placeholder: 'Long URL' %>
  </span>
  <span class="actions">
    <%= f.submit 'Shorten URL', id: 'ajax_index' %>
  </span>
<% end %>

<%= form_tag @urls_path, :method => 'get', :style => "float:left;clear:right", :id => "users_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-default", style: "padding: 3px 2px 1px 2px;" %>
  </p>
<% end %>

<%= render 'urls' %>

